<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Folsom FixedATSP-T2018-F4" Description="" AnalysisPeriod="F2018-04" Alternative="W2 Folsom" ProgramOrder="W2 Folsom forecast" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Folsom FixedATSP-T2018-F4" />
</SimulationContainer>

