<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Fol-Nat NoBypass" Description="" AnalysisPeriod="F2018-03" Alternative="W2 Fol-Nat" ProgramOrder="W2 Fol-Nat ResSim Amer" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Fol-Nat NoBypass" />
</SimulationContainer>

