<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Folsom" Description="" AnalysisPeriod="2009" Alternative="W2 Folsom" ProgramOrder="W2 Folsom Only" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Folsom" />
</SimulationContainer>

