<?xml version="1.0" encoding="UTF-8"?>
<SimulationContainer SimulationContainerName="W2 Folsom FixedATSP NoBypass-17Apr2024" Description="" AnalysisPeriod="17Apr24_fcst" Alternative="W2 Folsom" ProgramOrder="W2 Folsom Only" WarmupTimeSteps="0" SimulationCount="1">
  <Simulation0 SimulationName="W2 Folsom FixedATSP NoBypass-17Apr2024" />
</SimulationContainer>

