Location,Parameter,Source DSS file,Source DSS record,number of destinations,Destination DSS file,Destination DSS record
Folsom Dyke 8,Wind Speed,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Speed/Speed-Wind//1Hour/250.14.133.1.1/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)/Speed-Wind//1Hour/250.14.133.1.1/
Folsom Dyke 8,Wind Direction,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Direction/Dir-Wind//1Hour/250.14.133.1.2/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)/Dir-Wind//1Hour/250.14.133.1.2/
Fair Oaks,Air Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Air Temp/Temp-Air//1Hour/251.40.53.1.1/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Natoma Lake/Fair Oaks/Temp-Air//1Hour/251.40.53.1.1/
Fair Oaks,DewPoint Temperature,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Dew Point Temp/Temp-DewPoint//1Hour/251.40.51.1.1/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Natoma Lake/Fair Oaks/Temp-DewPoint//1Hour/251.40.51.1.1/
Fair Oaks,Wind Speed,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Speed/Speed-Wind//1Hour/251.40.133.1.1/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Natoma Lake/Fair Oaks/Speed-Wind//1Hour/251.40.133.1.1/
Fair Oaks,Wind Direction,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Direction/Dir-Wind//1Hour/251.40.133.1.2/,1,shared\WTMP_American_Forecast.dss,/MR Am.-Natoma Lake/Fair Oaks/Dir-Wind//1Hour/251.40.133.1.2/
Mather AFB,Cloudiness,forecast/simGroups/forecastGroup/bc.dss,/AMERICAN/MATHER AFB/CLOUD//1HOUR//,1,shared\WTMP_American_Forecast.dss,/MR Am.-Lower American R./Mather AFB/%-Cloud Cover//1Hour/252.50.129.1.1/
Fair Oaks,Shortwave Radiation,forecast/simGroups/forecastGroup/bc.dss,/AMERICAN/FAIR OAKS/SHORTWAVE RADIATION//1HOUR//,1,shared\WTMP_American_Forecast.dss,/MR Am.-Folsom Lake/Theoretical Folsom Solar/Irrad-Solar//1Hour/250.15.135.1.1/
Folsom Release,Flow,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/FLOW-RELEASE//1Hour//,1,shared\WTMP_American_Forecast.dss, //FOLSOM/FLOW-RELEASE//1Hour/AMER_BC_SCRIPT/
Natoma Release,Flow,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/FLOW-NIMBUS MINIMUM (CFS)//1Month//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/FLOW-NIMBUS MINIMUM (CFS)//1Month/AMER_BC_SCRIPT/
Folsom Elevation,Elev,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/ELEVATION (FEET)//1Month//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/ELEVATION (FEET)//1Month/AMER_BC_SCRIPT/
Folsom Inflow,Flow,forecast/simGroups/forecastGroup/bc.dss,//Folsom-NF-in/FLOW-IN//1Day//,1,shared\WTMP_American_Forecast.dss,//Folsom-NF-in/FLOW-IN//1Day/AMER_BC_SCRIPT/
Folsom Inflow,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Folsom-NF-in/TEMP-WATER//1Day//,1,shared\WTMP_American_Forecast.dss,//Folsom-NF-in/TEMP-WATER//1Day/AMER_BC_SCRIPT/
Folsom Inflow,Flow,forecast/simGroups/forecastGroup/bc.dss,//Folsom-SF-in/FLOW-IN//1Day//,1,shared\WTMP_American_Forecast.dss,//Folsom-SF-in/FLOW-IN//1Day/AMER_BC_SCRIPT/
Folsom Inflow,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//Folsom-SF-in/TEMP-WATER//1Day//,1,shared\WTMP_American_Forecast.dss,//Folsom-SF-in/TEMP-WATER//1Day/AMER_BC_SCRIPT/
Natoma Diversion,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//South Canal/TEMP-WATER//1Day//,1,shared\WTMP_American_Forecast.dss,//South Canal/TEMP-WATER//1Day/AMER_BC_SCRIPT/
Natoma Diversion,Flow,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/FS CANAL (FSC)//1Day//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/FS CANAL (FSC)//1Day/AMER_BC_SCRIPT/
Folsom Release,Flow,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/PUMPING (FP)//1Day//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/PUMPING (FP)//1Day/AMER_BC_SCRIPT/
Folsom Evap,Flow,forecast/simGroups/forecastGroup/bc.dss,/AMERICAN RIVER/FOLSOM LAKE/FLOW-ACC-DEP//1Day//,1,shared\WTMP_American_Forecast.dss,/AMERICAN RIVER/FOLSOM LAKE/FLOW-ACC-DEP//1Day/AMER_BC_SCRIPT/
Folsom Release,Flow,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/FLOW-AMER AFRP//1Day//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/FLOW-AMER AFRP//1Day/AMER_BC_SCRIPT/
Folsom Storage,Storage,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/STORAGE//1Month//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/STORAGE//1Month/AMER_BC_SCRIPT/
Folsom Release,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/TOTAL RELEASE//1Month//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/TOTAL RELEASE//1Month/AMER_BC_SCRIPT/
Folsom Inflow,Temp-Water,forecast/simGroups/forecastGroup/bc.dss,//FOLSOM/INFLOW//1Month//,1,shared\WTMP_American_Forecast.dss,//FOLSOM/INFLOW//1Month/AMER_BC_SCRIPT/
