SHASTA,shared\patternHydro.dss,//SHA_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/
TRINITY-CLAIR ENGLE,shared\patternHydro.dss,//TRN_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/
WHISKEYTOWN,  shared\patternHydro.dss,//WHI_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/