Target Temperature Location, Parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Folsom1,Water Temperature,shared\ScheduleA_TT_weekly.dss,/WTMP_American/Folsom Iterative Target/TEMP-WATER//1Hour/C:000001|ScheduleA/,1,shared\WTMP_American_Forecast.dss,/WTMP_American/Folsom Downstream/TEMP-WATER-TARGET//1HOUR/AMER_BC_SCRIPT/
