Met Station Location, Met parameter, Source DSS file, Source DSS record, Number of Destinations, Destination DSS file, Destination DSS record
Fair Oaks,Air Temperature,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Natoma Lake/Fair Oaks-Air Temp/Temp-Air//1Hour/251.40.53.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Air Temp/Temp-Air//1Hour/251.40.53.1.1/
Folsom Dyke 8,Wind Speed,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Speed/Speed-Wind//1Hour/250.14.133.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Speed/Speed-Wind//1Hour/250.14.133.1.1/
Folsom Dyke 8,Wind Direction,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Direction/Dir-Wind//1Hour/250.14.133.1.2/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Folsom Lake/Dyke 8 (FLD)-Wind Direction/Dir-Wind//1Hour/250.14.133.1.2/
Fair Oaks,DewPoint Temperature,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Natoma Lake/Fair Oaks-Dew Point Temp/Temp-DewPoint//1Hour/251.40.51.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Dew Point Temp/Temp-DewPoint//1Hour/251.40.51.1.1/
Fair Oaks,Wind Speed,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Speed/Speed-Wind//1Hour/251.40.133.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Speed/Speed-Wind//1Hour/251.40.133.1.1/
Fair Oaks,Wind Direction,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Direction/Dir-Wind//1Hour/251.40.133.1.2/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Natoma Lake/Fair Oaks-Wind Direction/Dir-Wind//1Hour/251.40.133.1.2/
Mather AFB,Cloudiness,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Lower American R./Mather Airforce Base-Cloud Cover/%-Cloud Cover//1Hour/252.50.129.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/MR Am.-Lower American R./Mather Airforce Base-Cloud Cover/%-Cloud Cover//1Hour/252.50.129.1.1/
Fair Oaks,Shortwave Radiation,shared\L3MTO_met_202503_paths_v2.dss,/MR Am.-Folsom Lake/Theoretical Folsom Solar-Solar Radiation/Irrad-Solar//1Hour/250.15.135.1.1/,1,forecast/simGroups/forecastGroup/bc.dss,/AMERICAN/FAIR OAKS/SHORTWAVE RADIATION//1HOUR/CIMIS-CARDNO/
